In [3]:
import pandas as pd
import numpy as np
import matplotlib as mtl
import missingno as msno

In [4]:
df = pd.read_csv("datos_cluster_Instagram.csv")
df.head()

,RANK,BRAND,CATEGORIES 1,CATEGORIES 2,FOLLOWERS,ER,iPOSTS ON HASHTAG,MEDIA POSTED
0,1,Selena Gomez,celebrities,musicians,105.4,0.0262,14.5,1.2
1,2,Taylor Swift,celebrities,musicians,95.2,0.0196,10.5,958.0
2,3,Ariana Grande,celebrities,musicians,92.3,0.0143,16.9,2.8
3,4,Beyonce,celebrities,musicians,90.6,0.0253,9.2,1.4
4,5,Kim Kardashian West,celebrities,tv,89.3,0.0139,5.1,3.6